/**********global**********/

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-grey {
  color: grey;
}

/**********header**********/

.top-header {
  height: 100px;
  margin: 15px 0 25px 0;
}

#logo {
  width: 15%;
  padding-right: 20px;
  margin-bottom: 20px;
  border-right: 2px solid lightgray;
}

/*menu*/
li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}

li a {
  font-size: 12px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase; 
  text-decoration: none;
}

a:hover {
  color: orangered;
}

/*jumbotron*/
.jumbotron, .effect-transparent {
  height: 500px;
  border-radius: 20px;
}

.jumbotron {
  margin-bottom: 25px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.effect-transparent {
  background-color: rgba(0, 0, 0, 0.20);
}

.text-jumbotron {
  color: white;
  padding: 250px 300px 0px 40px;
}

/**********main**********/

/*main top*/

h1{
  font-size: 35px;
}

/*layout clearfix*/
main div section {
  min-height: 250px;
  float: left;
}

.content-left, .content-right {
  width: 20%;
}

.content-center {
  width: 56%;
  margin: 0 2%;
}

.clearfix {
  margin: 25px 0; 
}

/*img*/
.img-left, .img-center, .img-right {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.80);
  border-radius: 20px;
}


.img-left {
  background-image: url(../img/img-1.jpg);
}

.img-center {
  background-image: url(../img/banner-2.jpg);
}


.img-right {
  background-image: url(../img/img-3.jpg);
}

/*sub-title img*/
.clearfix h4 {
  font-weight: bold;
}

.clearfix  h4, .clearfix p { 
  margin-top: 15px;
  text-align: left;
}

/**********footer**********/
footer h4 {
  text-align: center;
  margin-bottom: 25px;
}
footer h4::after {
  content: " \2764";
  font-size: 20px;
  color: red;
}





